{% extends "base.html" %}
{% block content %}
	<div class="page-header">
		<div class="page-header-content">
			<h1>Editing ({{ note.author }})</h1>
			<a href="/" class="back-button big page-back"></a>
		</div>
	</div>

    <div class="page-region">
        <div class="page-region-content">
            <div class="grid">
                <div class="row">
                    <div class="span10">					
						<form action="" method="post">
						  <div class="field-wrapper">
							
							<div >
							  <label class="subheader fg-lightBlue" for="id_author">Title</label>:
							</div>
							
							<div class="class="input-control text">
							  <input type="text" name="author" value="{{ note.author }}" id="id_author" />
							  
							</div>
							
						  </div>
						  
						  <div class="field-wrapper">
							
							<div class="field-label">
							  <label class="subheader fg-lightBlue" for="id_text">Text</label>:
							</div>
							
							<div class="field-field">
							<textarea rows="4" cols="50"name="text" id="id_text" > {{ note.text }}</textarea>
							  
							</div>
							
						  </div>
						  
						  <div class="field-wrapper">
							
							<div class="field-label">
							  <label class="subheader fg-lightBlue" for="id_priority">Priority</label>:
							</div>
							
							<div class="field-field">
							  <select name="priority" id="id_priority">
								<option value="High">High</option>
								<option value="Medium" selected="selected">Medium</option>
								<option value="Low">Low</option>
							  </select>
							  
							</div>
							
						  </div>
						  
						  <div class="field-wrapper">
							
							<div class="field-label">
							  <label  class="subheader fg-lightBlue" for="id_status">Status</label>:
							</div>
							
							<div class="field-field">
							  <select name="status" id="id_status">
								<option value="On Going">On Going</option>
								<option value="Completed">Completed</option>
							  </select>
							  
							</div>
							
						  </div>
						 <br /> 
						  <a href ="/delete/{{ note.key().id() }}">Delete Note</a>
						   <br />      
						  
						  <br>
						  <input type="submit" value=submit />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
